<h1>Restaurants</h1>
<br>
<%= link_to "Add a New Restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>


	<h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
	<p><strong>Picture:</strong><%= restaurant.picture_url %></p>
	<p><strong>Capacity:</strong><%= restaurant.capacity %></p>
	<p><strong>Hours:</strong><%= restaurant.opens_at%> - <%= restaurant.closes_at %></p>
	
	<p><strong>Description: </strong><%= restaurant.description %></p>
	<p><strong>Address: </strong><%= restaurant.address %></p>
	<p><strong>Phone: </strong><%= restaurant.phone %></p>
	<br>
<% end %>